/*
Kirsten de Wit
6063098
Programmerproject Data
*/

body {
  font: 11px sans-serif;
  min-width: 600px;
  background: #fffdf6;
}

.titel {
  display: flex;
  /*background: #FFF8DC;*/
  font-size: 30px;
  text-align: center;
  min-width: 1000px;
 }

.inleiding {
  display: -webkit-flex;
  display: flex;
  /*background: #FFEBCD;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
 }

.buttons {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  box-shadow: 0px 0px 5px #999999;
  background-color: #ffffff;
  padding: 10px;
  width: 230px;
  height: 40px;
}

.AD {
  display: flex;
  overflow: auto;
  /*background: #FFE4C4;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
}

.Depressie {
  display: flex;
  overflow: auto;
  /*background: #FFDEAD;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
}

.Epilepsie {
  display: flex;
  overflow: auto;
  /*background: #F5DEB3;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
}

.HD {
  display: flex;
  overflow: auto;
  /*background: #DEB887;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
}

.PD {
  display: flex;
  overflow: auto;
  /*background: #D2B48C;*/
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
}

.Bronnen {
  display: flex;
  overflow: auto;
  /*background: #BC8F8F;*/
  white-space: pre-wrap;
  padding: 1em;
  font-size: 10px;
  min-width: 1000px;
}

img {
  float: right;
  margin: 0 0 1em 1em;
  width: 200px;
}