/*
Kirsten de Wit
6063098
Programmerproject Data
*/

body {
  font: 11px sans-serif;
  min-width: 600px;
  background: #fffdf6;
  margin: 3em 3em;
}

img {
  float: right;
  margin: 0 0 1em 1em;
  width: 200px;
}

.border {
  height: 3em;
  min-width: 1000px;
  background: #fffdf6;
}

.titel {
  display: flex;
  font-size: 30px;
  text-align: center;
  min-width: 1000px;
  background: #fff7dd;
 }

.inleiding {
  display: -webkit-flex;
  display: flex;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background: #fff7dd;
 }

.buttons {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  background: #fff7dd;
}

.graph {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  background: #fff7dd;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  box-shadow: 0px 0px 5px #999999;
  padding: 10px;
  width: 230px;
  height: 40px;
  background: #fff7dd;
}

.AD {
  display: flex;
  overflow: auto;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background:#fff7dd;
}

.Depressie {
  display: flex;
  overflow: auto;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background: #fff7dd;
}

.Epilepsie {
  display: flex;
  overflow: auto;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background: #fff7dd;
}

.HD {
  display: flex;
  overflow: auto;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background: #fff7dd;
}

.PD {
  display: flex;
  overflow: auto;
  padding: 1em;
  font-size: 15px;
  text-align: justify;
  min-width: 1000px;
  background: #fff7dd;
}

.Bronnen {
  display: flex;
  overflow: auto;
  white-space: pre-wrap;
  padding: 1em;
  font-size: 10px;
  min-width: 1000px;
  background: #fff7dd;
}